.contact-page {
  width: 100%;
  padding: 50px 20px;
}

.contact-page > h2 {
  text-align: center;
  font-size: 36px;
  color: var(--primary-blue);
  border-bottom: 4px solid var(--primary-red);
  width: fit-content;
  margin: 50px auto;
}

.contact-methods {
  max-width: 1100px;
  margin: 0 auto 50px auto;
  display: flex;
  justify-content: space-between;
  gap: 50px;
  flex-wrap: wrap;
}

.contact-box {
  flex: 1 1 20%;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  transition: all 0.4s ease;
  cursor: pointer;
  border: 4px solid transparent;
  transition: border-color 0.3s ease, transform 0.3s ease;
}
.contact-box:hover {
  border-color: var(--accent-color);
  transform: translateY(-5px);
}
.contact-box a .icon {
  font-size: 36px;
  width: fit-content;
  padding: 10px;
  margin: auto;
  height: fit-content;
  color: var(--primary-red);
  border-radius: 50%;
}
.contact-box h4 {
  margin-bottom: 10px;
  color: #333;
  font-size: 20px;
}

.contact-box p {
  color: #555;
  font-size: 14px;
}

.contact-container {
  max-width: 1100px;
  margin: 0 auto 40px auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
  font-size: 18px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  text-align: center;
}

.contact-info h2 {
  margin-bottom: 15px;
}
.contact-info button {
  padding: 12px;
  width: 50%;
  margin: auto;
  font-size: 18px;
  cursor: pointer;
  background: var(--bg-blue);
  outline: none;
  border: none;
  border-radius: 10px;
  color: var(--primary-blue);
  transition: all 0.4s;
}
.contact-info button a {
  color: inherit;
  font-weight: bold;
}
.contact-info button:hover {
  scale: 1.1;
}
.contact-form form {
  display: flex;
  justify-content: center;
  width: 70%;
  margin: auto;
  flex-direction: column;
}

.contact-form input,
.contact-form textarea {
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 18px;
}

.contact-form button {
  padding: 12px;
  background-color: var(--primary-blue);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
}

.map-container {
  width: 100%;
  height: 400px;
  margin-top: 40px;
}

.map-container iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

/* Tablets and small desktops */
@media (max-width: 992px) {
  .contact-container {
    width: 100%;
    font-size: 16px;
  }
  .contact-form form {
    width: 100%;
  }

  .contact-methods {
    flex-direction: column;
    gap: 30px;
  }
  .contact-form input,
  .contact-form textarea {
    font-size: 14px;
  }
  .contact-form button {
    font-size: 14px;
  }
  .contact-info button {
    width: 100%;
    font-size: 14px;
  }
  .contact-info button a {
    font-weight: 700;
  }
}

/* Small devices (phones) */
@media (max-width: 576px) {
  .contact-methods {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    justify-items: center;
  }
  .contact-box {
    border: none;
    padding: 0px;
    width: 100%;
    max-width: 60px;
    box-shadow: none;
  }
  .contact-box a .icon {
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contact-box h4 {
    display: none;
  }

  .contact-box p {
    display: none;
  }

  .contact-box:hover {
    transform: none;
    scale: 1;
  }

  .contact-form input,
  .contact-form textarea,
  .contact-form button {
    width: 100%;
  }

  .map-container {
    height: 300px;
  }
}
